.error-page {
  @media (min-width: 1280px) {
    padding-bottom: 150px;
  }
  .submit-button {
    max-width: 180px;
    width: auto;
    padding: 0 20px;
    margin: 0;
  }
  &-title {
    margin-bottom: 20px;
    font-family: 'Assistant';
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.06px;
    @media (min-width: 576px) {
      font-size: 45px;
      margin-bottom: 30px;
    }
    span {
      color: $error-colour;
    }
  }
  &-desc {
    letter-spacing: -0.44px;
    font-size: 16px;
    margin-bottom: 20px;
    @media (min-width: 576px) {
      margin-bottom: 30px;
    }
  }
}
