.forgot-pass{
  min-height: 580px;
  .forgot-pass-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 51px 0 93px 0;
  }
  .forgot-pass-block{
    div{
      margin: 20px 0;
    }
  }
}