.thank-you {
  &-page {
    @media (min-width: 1280px) {
      padding-bottom: 150px;
    }
    .submit-button {
      max-width: 200px;
      width: 100%;
      margin: 0;
    }
  }
  &-title {
    padding-top: 60px;
    font-family: 'Assistant';
    margin-bottom: 16px;
    font-size: 28px;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 0.06px;
    color: #73c43a;
    position: relative;
    &:before {
      content: '';
      display: block;
      background: asset-url('main/icon-thank-you.svg') 50% 50% no-repeat;
      background-size: contain;
      width: 38px;
      height: 37px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &-desc {
    letter-spacing: -0.44px;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 20px;
    p {
      margin-bottom: 4px;
    }
  }
}